<template id="detail-umbul-dan-penilaian">
    <div class="gathel">Gathel</div>
</template>

<script>
export default {
  name: 'DetailUmbulDanPenilaian',
  template: 'detail-umbul-dan-penilaian',
  mounted () {
    console.log(this.$route)
  }
}
</script>

<style scoped>

</style>
