<template id="detail-umbul">
  <div class="detail-umbul-container">
    <div class="uk-grid-small" v-if="this.$route.params.kriteria === 'cukup-baik'" uk-grid>
      <div class="uk-width-1-3@m uk-width-1-2@s" v-bind:key="key" v-for="(item, key) in this.$parent.umbulC1Map">
        <div class="uk-card uk-card-default my-rounded-card uk-animation-slide-bottom-medium">
          <div class="uk-card-media-top">
            <img data-src="https://getuikit.com/docs/images/light.jpg" alt="" uk-img/>
          </div>
          <div class="uk-card-body my-card-body">
            <h3 class="uk-card-title">{{item.nm}}</h3>
            <p>{{item.ad}}</p>
          </div>
          <div class="my-card-footer uk-text-right">
            <router-link class="uk-button my-button" :to="'/cukup-baik/' + item.id">Detail</router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-grid-small" v-if="this.$route.params.kriteria === 'baik'" uk-grid>
      <div class="uk-width-1-3@m uk-width-1-2@s" v-bind:key="key" v-for="(item, key) in this.$parent.umbulC2Map">
        <div class="uk-card uk-card-default my-rounded-card uk-animation-slide-bottom-medium">
          <div class="uk-card-media-top">
            <img data-src="https://getuikit.com/docs/images/light.jpg" alt="" uk-img/>
          </div>
          <div class="uk-card-body my-card-body">
            <h3 class="uk-card-title">{{item.nm}}</h3>
            <p>{{item.ad}}</p>
          </div>
          <div class="my-card-footer uk-text-right">
            <router-link class="uk-button my-button" :to="'/baik/' + item.id">Detail</router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-grid-small" v-if="this.$route.params.kriteria === 'sangat-baik'" uk-grid>
      <div class="uk-width-1-3@m uk-width-1-2@s" v-bind:key="key" v-for="(item, key) in this.$parent.umbulC3Map">
        <div class="uk-card uk-card-default my-rounded-card uk-animation-slide-bottom-medium">
          <div class="uk-card-media-top">
            <img data-src="https://getuikit.com/docs/images/light.jpg" alt="" uk-img/>
          </div>
          <div class="uk-card-body my-card-body">
            <h3 class="uk-card-title">{{item.nm}}</h3>
            <p>{{item.ad}}</p>
          </div>
          <div class="my-card-footer uk-text-right">
            <router-link class="uk-button my-button" :to="'/sangat-baik/' + item.id">Detail</router-link>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-grid-small" v-if="this.$route.params.kriteria === 'semua-umbul'" uk-grid>
      <div class="uk-width-1-1" id="umbul-cukup-baik-a">
        <div class="section-title" uk-sticky="bottom: #umbul-cukup-baik-a; offset: 54"><h3><span>{{this.$parent.umbulC1Map.length}}</span> Cukup Baik</h3></div>
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-1-3@m uk-width-1-2@s" v-bind:key="key" v-for="(item, key) in this.$parent.umbulC1Map">
            <div class="uk-card uk-card-default my-rounded-card uk-animation-slide-bottom-medium">
              <div class="uk-card-media-top">
                <img data-src="https://getuikit.com/docs/images/light.jpg" alt="" uk-img/>
              </div>
              <div class="uk-card-body my-card-body">
                <h3 class="uk-card-title">{{item.nm}}</h3>
                <p>{{item.ad}}</p>
              </div>
              <div class="my-card-footer uk-text-right">
                <router-link class="uk-button my-button" :to="'/cukup-baik/' + item.id">Detail</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1" id="umbul-cukup-baik-b">
        <div class="section-title" uk-sticky="bottom: #umbul-cukup-baik-b; offset: 54"><h3><span>{{this.$parent.umbulC2Map.length}}</span> Baik</h3></div>
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-1-3@m uk-width-1-2@s" v-bind:key="key" v-for="(item, key) in this.$parent.umbulC2Map">
            <div class="uk-card uk-card-default my-rounded-card uk-animation-slide-bottom-medium">
              <div class="uk-card-media-top">
                <img data-src="https://getuikit.com/docs/images/light.jpg" alt="" uk-img/>
              </div>
              <div class="uk-card-body my-card-body">
                <h3 class="uk-card-title">{{item.nm}}</h3>
                <p>{{item.ad}}</p>
              </div>
              <div class="my-card-footer uk-text-right">
                <router-link class="uk-button my-button" :to="'/baik/' + item.id">Detail</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-1" id="umbul-cukup-baik-c">
        <div class="section-title" uk-sticky="bottom: #umbul-cukup-baik-c; offset: 54"><h3><span>{{this.$parent.umbulC3Map.length}}</span> Sangat Baik</h3></div>
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-1-3@m uk-width-1-2@s" v-bind:key="key" v-for="(item, key) in this.$parent.umbulC3Map">
            <div class="uk-card uk-card-default my-rounded-card uk-animation-slide-bottom-medium">
              <div class="uk-card-media-top">
                <img data-src="https://getuikit.com/docs/images/light.jpg" alt="" uk-img/>
              </div>
              <div class="uk-card-body my-card-body">
                <h3 class="uk-card-title">{{item.nm}}</h3>
                <p>{{item.ad}}</p>
              </div>
              <div class="my-card-footer uk-text-right">
                <router-link class="uk-button my-button" :to="'/sangat-baik/' + item.id">Detail</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'DetailUmbul',
  components: {},
  template: 'detail-umbul',
  methods: {},
  created () {},
  mounted () {}
}
</script>

<style scoped lang="less">
  .section-title{
    z-index: 1;
    margin-bottom: 15px;
    background-color: white;
    > h3 {
      margin:5px 0; padding:5px 0;
      font-size: 16px;
      font-weight: 600;
      border-bottom: 1px solid #f2f2f2;
      > span {
        background-color: #f2f2f2;
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 4px 4px 0 0;
      }
    }
  }
  .my-button{
    background-color: transparent;
    color: rgba(0, 0, 0, .70);
    font-weight: 600;
    padding: 5px 15px; margin: 0;
    &:hover{
      color: #379FF2;
    }
  }
  .detail-umbul-container{
    padding: 15px; background-color: white;
  }
  .uk-card-default.my-rounded-card{
    border-radius: 6px;
    overflow: hidden;
    box-shadow: none;
    border:none;
    &:hover{
      box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    }
    > div {
      border:none;
      > img {}
    }
    > .my-card-footer{
      border: 1px solid #f2f2f2;
      border-radius: 0 0 6px 6px;
    }
    > .uk-card-body{
      &.my-card-body{
        padding:10px 15px;
        margin:0;
        border-right: 1px solid #f2f2f2;
        border-left: 1px solid #f2f2f2;
        height: 95px;
        overflow: hidden;
        > h3 {
          margin:0 0 5px 0; padding:0;
          color: rgba(0, 0, 0, .70);
          font-size: 18px;
          font-weight: 600;
        }
        > p {
          margin:0; padding:0;
          font-size: 14px;
          font-weight: 600;
          color: rgba(0, 0, 0, .40);
        }
      }
    }
  }
</style>
