<template>
  <div class="hello uk-animation-fade">
    <h1 class="uk-heading-primary">Lorem Ipsum</h1>
    <p class="uk-text-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum non sem vitae porta.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum non sem vitae porta. Sed id magna eget erat placerat condimentum a ut lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed consectetur, dolor et ullamcorper dignissim, magna arcu sollicitudin dolor, in tincidunt elit elit in quam. Curabitur feugiat venenatis ante, in vulputate nibh molestie ac. Integer aliquet ante ipsum, gravida pulvinar libero viverra nec. Quisque ut justo at ipsum mattis pretium.
    </p>
    <blockquote cite="#">
      <p class="uk-margin-small-bottom">The blockquote element represents content that is quoted from another source, optionally with a citation which must be within a footer or cite element.</p>
      <footer>Someone famous in <cite><a href="#">Source Title</a></cite></footer>
    </blockquote>
    <p>
      Fusce suscipit ligula leo, et malesuada enim tempor eu. Vestibulum velit lorem, bibendum eu malesuada a, varius vitae tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer interdum odio id quam tristique, eu hendrerit ipsum dignissim. Cras non justo id enim euismod tincidunt quis at nisl. Phasellus eleifend est quam, eu rhoncus quam aliquet id. Nam ante nisl, posuere in urna eget, porta volutpat ante. Cras auctor est vitae dui vulputate hendrerit. Maecenas vel tortor accumsan, consectetur est eu, mattis ligula.
    </p>
    <p>
    Proin cursus fermentum nulla id pharetra. Aliquam lectus lorem, gravida nec massa vel, rhoncus porttitor nisi. Suspendisse elementum ultrices rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus a est nec nibh vestibulum convallis. Nulla ac lectus non velit convallis tempor. Fusce ex leo, laoreet sit amet egestas ac, imperdiet non leo. Donec finibus, quam nec rhoncus venenatis, ligula tortor bibendum risus, non tristique sapien mi interdum arcu. Etiam tempor mattis dui quis vulputate. In hac habitasse platea dictumst. Phasellus a consectetur eros. Proin sit amet mauris tincidunt, aliquam magna sed, commodo lectus. Phasellus eu ligula venenatis, ultrices nisi vel, tristique velit. In vel gravida neque.
    </p>
    <hr class="uk-divider-icon">
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {}
  },
  mounted () {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
  .hello{
    padding: 15px; margin: 0;
  }
</style>
