<template id="app-umbul">
  <div class="map-umbul-container">
    <div id="map-umbul"></div>
    <nav id="kriteria-umbul" class="navigasi-umbul" uk-sticky>
      <div class="uk-container uk-container-small uk-container-center">
        <ul class="list-menu-main">
          <router-link tag="li" to="/" exact>
            <a><img src="static/map_markers/home.png" /> Home</a>
          </router-link>
          <router-link tag="li" to="/cukup-baik">
            <a><img src="static/map_markers/c1.png" /> Cukup Baik</a>
          </router-link>
          <router-link tag="li" to="/baik">
            <a><img src="static/map_markers/c2.png" /> Baik</a>
          </router-link>
          <router-link tag="li" to="/sangat-baik">
            <a><img src="static/map_markers/c3.png" /> Sangat Baik</a>
          </router-link>
          <router-link tag="li" to="/semua-umbul">
            <a><img src="static/map_markers/all.png" /> Semua Umbul</a>
          </router-link>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'MapUmbul',
  data () {
    return {
      kordinatMarker: [],
      petaNya: null
    }
  },
  beforeCreate () {
    this.$Progress.start()
  },
  created () {
    this.$Progress.finish()
  },
  methods: {
    removeMarkers: function () {
      for (let i = 0; i < this.kordinatMarker.length; i++) {
        this.kordinatMarker[i].setMap(null)
      }
      this.kordinatMarker = []
    },
    addMarkers: function () {
      let googleObject = this.petaNya
      if (this.$route.params.kriteria === 'cukup-baik') {
        for (let i = 0; i < this.$parent.umbulC1Map.length; i++) {
          window.setTimeout(() => {
            let _umbul = new this.$parent.googleMapNya.maps.Marker({
              map: googleObject,
              draggable: false,
              animation: this.$parent.googleMapNya.maps.Animation.DROP,
              position: {lat: this.$parent.umbulC1Map[i].lt, lng: this.$parent.umbulC1Map[i].lo},
              icon: this.$parent.umbulC1Map[i].ic
            })
            let infoW = new this.$parent.googleMapNya.maps.InfoWindow({
              content: '<h3>' + this.$parent.umbulC1Map[i].nm + '</h3><p>' + this.$parent.umbulC1Map[i].ad + '</p>'
            })
            _umbul.addListener('click', function () {
              infoW.open(googleObject, _umbul)
            })
            this.kordinatMarker.push(_umbul)
          }, i * 200)
        }
      } else if (this.$route.params.kriteria === 'baik') {
        for (let i = 0; i < this.$parent.umbulC2Map.length; i++) {
          window.setTimeout(() => {
            let _umbul = new this.$parent.googleMapNya.maps.Marker({
              map: googleObject,
              draggable: false,
              animation: this.$parent.googleMapNya.maps.Animation.DROP,
              position: {lat: this.$parent.umbulC2Map[i].lt, lng: this.$parent.umbulC2Map[i].lo},
              icon: this.$parent.umbulC2Map[i].ic
            })
            let infoW = new this.$parent.googleMapNya.maps.InfoWindow({
              content: '<h3>' + this.$parent.umbulC2Map[i].nm + '</h3><p>' + this.$parent.umbulC2Map[i].ad + '</p>'
            })
            _umbul.addListener('click', function () {
              infoW.open(googleObject, _umbul)
            })
            this.kordinatMarker.push(_umbul)
          }, i * 200)
        }
      } else if (this.$route.params.kriteria === 'sangat-baik') {
        for (let i = 0; i < this.$parent.umbulC3Map.length; i++) {
          window.setTimeout(() => {
            let _umbul = new this.$parent.googleMapNya.maps.Marker({
              map: googleObject,
              draggable: false,
              animation: this.$parent.googleMapNya.maps.Animation.DROP,
              position: {lat: this.$parent.umbulC3Map[i].lt, lng: this.$parent.umbulC3Map[i].lo},
              icon: this.$parent.umbulC3Map[i].ic
            })
            let infoW = new this.$parent.googleMapNya.maps.InfoWindow({
              content: '<h3>' + this.$parent.umbulC3Map[i].nm + '</h3><p>' + this.$parent.umbulC3Map[i].ad + '</p>'
            })
            _umbul.addListener('click', function () {
              infoW.open(googleObject, _umbul)
            })
            this.kordinatMarker.push(_umbul)
          }, i * 200)
        }
      } else if (this.$route.params.kriteria === 'semua-umbul') {
        for (let i = 0; i < this.$parent.allUmbulMap.length; i++) {
          window.setTimeout(() => {
            let _umbul = new this.$parent.googleMapNya.maps.Marker({
              map: googleObject,
              draggable: false,
              animation: this.$parent.googleMapNya.maps.Animation.DROP,
              position: {lat: this.$parent.allUmbulMap[i].lt, lng: this.$parent.allUmbulMap[i].lo},
              icon: this.$parent.allUmbulMap[i].ic
            })
            let infoW = new this.$parent.googleMapNya.maps.InfoWindow({
              content: '<h3>' + this.$parent.allUmbulMap[i].nm + '</h3><p>' + this.$parent.allUmbulMap[i].ad + '</p>'
            })
            _umbul.addListener('click', function () {
              infoW.open(googleObject, _umbul)
            })
            this.kordinatMarker.push(_umbul)
          }, i * 200)
        }
      }
    },
    setOnAllMarkersOnTheMap: function () {
      for (let i = 0; i < this.kordinatMarker.length; i++) {
        this.kordinatMarker[i].setMap(this.petaNya)
      }
    }
  },
  mounted () {
    let petaUtama = new this.$parent.googleMapNya.maps.Map(document.getElementById('map-umbul'), {disableDefaultUI: true})
    petaUtama.setZoom(11)
    petaUtama.setMapTypeId('terrain')
    petaUtama.setCenter(new this.$parent.googleMapNya.maps.LatLng(-7.6723265, 110.6349909))
    this.petaNya = petaUtama
    this.$parent.uiKit.util.on(document.getElementById('kriteria-umbul'), 'active', function () {
      document.getElementById('kriteria-umbul').classList.add('snap-nav')
    })
    this.$parent.uiKit.util.on(document.getElementById('kriteria-umbul'), 'inactive', function () {
      document.getElementById('kriteria-umbul').classList.remove('snap-nav')
    })
  },
  watch: {
    '$route.params.kriteria': function (params) {
      this.removeMarkers() // remove all markers on the map
      switch (params) {
        case 'baik':
          this.addMarkers()
          this.setOnAllMarkersOnTheMap()
          break
        case 'cukup-baik':
          this.addMarkers()
          this.setOnAllMarkersOnTheMap()
          break
        case 'sangat-baik':
          this.addMarkers()
          this.setOnAllMarkersOnTheMap()
          break
        case 'semua-umbul':
          this.addMarkers()
          this.setOnAllMarkersOnTheMap()
          break
      }
    }
  },
  template: 'app-umbul'
}
</script>

<style scoped lang="less">
  .map-umbul-container{
    height: 400px;
    width: 100%;
    > #map-umbul{
      width:100% !important;
      height: 400px;
      z-index: 0;
    }
  }
  .navigasi-umbul{
    position: absolute;
    z-index: 10;
    margin-top: -55px;
    width: 100%;
    height: 55px;
    // background-color: rgba(0, 0, 0, .90);
    background-color: transparent;
    &.snap-nav{
      background-color: white;
      border-bottom: none;
      box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
      & .list-menu-main{
        border-radius: 0;
      }
    }
  }
  .list-menu-main {
    z-index: 980;
    margin:0; padding:0;
    background-color: rgba(255, 255, 255, 1);
    list-style: none outside none;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    display: flex;
    > li {
      margin:0; padding:0;
      display: inline;
      > a {
        display: block;
        text-decoration: none;
        margin:0; padding: 15px;
        color: rgba(0, 0, 0, .90);
        font-weight: 600;
        > img{
          width: 23px;
          height: 23px;
          margin-right: 10px;
        }
        &:hover{
          background-color: #E9E9E9;
          color: rgba(0, 0, 0, .60);
        }
      }
      &.uk-active{
        > a {
          display: block;
          background-color: #E9E9E9;
          color: rgba(0, 0, 0, .60);
          &:hover{
            background-color: #E9E9E9;
            color: rgba(0, 0, 0, .60);
          }
        }
      }
    }
  }
</style>
