<template>
  <div id="app" class="uk-grid-collapse" uk-grid>
    <vue-progress-bar></vue-progress-bar>
    <div class="uk-width-1-1">
      <map-umbul></map-umbul>
    </div>
    <div class="uk-width-1-1">
      <div class="uk-container uk-container-small uk-container-center">
        <router-view id="main" class=""></router-view>
      </div>
    </div>
    <div class="uk-width-1-1">
      <div class="uk-container uk-container-small uk-container-center">
        <div class="app-footer"><p>&copy; 2018 <a href="">Muhammad Ja'far Alfaro</a></p></div>
      </div>
    </div>
  </div>
</template>
<script>
import UIKit from 'uikit/dist/js/uikit.min'
import UiKitIcons from 'uikit/dist/js/uikit-icons.min'
import axios from 'axios'
import MapUmbul from '@/components/MapUmbul'
UIKit.use(UiKitIcons)
export default {
  name: 'app',
  data () {
    return {
      googleMapNya: window.google,
      uiKit: UIKit,
      allUmbulMap: [],
      umbulC1Map: [],
      umbulC2Map: [],
      umbulC3Map: []
    }
  },
  beforeCreate () {},
  created () {
    this.$Progress.start()
    axios.create({
      timeout: 10000,
      withCredentials: false,
      headers: {
        'X-Requested-With': 'XMLHttpRequest'
      },
      responseType: 'json'
    }).get('http://localhost/kameans-fajar/welcome/data_umbul')
      .then((response) => {
        let _transFormUmbul = response.data['_transform']
        for (let c1 = 0; c1 < _transFormUmbul['_cukup'].length; c1++) {
          let _c1 = _transFormUmbul['_cukup'][c1]
          let c1Obj = {
            id: _c1['id'],
            nm: _c1['umbul'],
            ad: _c1['alamat'],
            lt: _c1['latitude'],
            lo: _c1['longitude'],
            C1: _c1['C1'],
            C2: _c1['C2'],
            C3: _c1['C3'],
            JP: _c1['JP'],
            ic: 'static/map_markers/c1.png'
          }
          this.umbulC1Map.push(c1Obj)
          this.allUmbulMap.push(c1Obj)
        }

        for (let c2 = 0; c2 < _transFormUmbul['_baik'].length; c2++) {
          let _c2 = _transFormUmbul['_baik'][c2]
          let c2Obj = {
            id: _c2['id'],
            nm: _c2['umbul'],
            ad: _c2['alamat'],
            lt: _c2['latitude'],
            lo: _c2['longitude'],
            C1: _c2['C1'],
            C2: _c2['C2'],
            C3: _c2['C3'],
            JP: _c2['JP'],
            ic: 'static/map_markers/c2.png'
          }
          this.umbulC2Map.push(c2Obj)
          this.allUmbulMap.push(c2Obj)
        }

        for (let c3 = 0; c3 < _transFormUmbul['_sangatBaik'].length; c3++) {
          let _c3 = _transFormUmbul['_sangatBaik'][c3]
          let c3Obj = {
            id: _c3['id'],
            nm: _c3['umbul'],
            ad: _c3['alamat'],
            lt: _c3['latitude'],
            lo: _c3['longitude'],
            C1: _c3['C1'],
            C2: _c3['C2'],
            C3: _c3['C3'],
            JP: _c3['JP'],
            ic: 'static/map_markers/c3.png'
          }
          this.umbulC3Map.push(c3Obj)
          this.allUmbulMap.push(c3Obj)
        }
        this.$Progress.finish()
      }).catch((errors) => {
        console.log(errors)
      })
  },
  mounted () {},
  components: {MapUmbul}
}
</script>

<style lang="less">
  @import "~uikit/src/less/components/_import.less";
  @import "~uikit/src/less/theme/_import.less";
  @global-font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  @internal-accordion-open-image: 'node_modules/uikit/src/images/backgrounds/accordion-open.svg';
  @internal-accordion-close-image: "node_modules/uikit/src/images/backgrounds/accordion-close.svg";
  html, body{
    background-color: #fff;
  }
  .app-footer{
    padding: 15px;
    > p {
      font-size: 14px;
      > a {
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
  .hook-accordion() {}
  .hook-accordion-item() {
    margin:0; padding:0;
  }
  .hook-accordion-title() {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, .90);
    margin:0; padding:10px 15px;
    border-bottom: 1px solid #E9E9E9;
  }
  .hook-accordion-title-hover() {}
  .hook-accordion-content() {
    border-bottom: 1px solid #E9E9E9;
    margin: 0; padding: 10px 15px;
  }
  .hook-accordion-misc() {}
</style>
